In [2]:
import pandas as pd
data = pd.read_csv('yassir_eta_sample.csv')
data

        pickup_lat  pickup_lng  dropoff_lat  ...   eta  hour  modified_date
0         36.69359     3.08008     36.74878  ...  1531     0   30T00:32:54Z
1         36.77913     3.24047     36.66214  ...  2133     0   09T00:16:06Z
2         36.74482     2.95584     36.74566  ...   238     0   26T00:03:14Z
3         36.70221     2.97031     36.69438  ...   278     0   29T00:09:53Z
4         36.76901     3.03099     36.75186  ...   542     0   21T00:30:32Z
...            ...         ...          ...  ...   ...   ...            ...
119654    36.69903     3.20222     36.78164  ...  1515    23   21T23:45:54Z
119655    36.75759     3.04181     36.70601  ...  1348    23   05T23:46:59Z
119656    36.74288     3.09469     36.75285  ...  1134    23   05T23:17:03Z
119657    36.69680     3.07663     36.72063  ...  1192    23   29T23:48:52Z
119658    36.70861     3.22350     36.76235  ...  2146    23   18T23:24:58Z

[119659 rows x 7 columns]

In [3]:
from math import radians, cos, sin, asin, sqrt 
def distance(lat1, lat2, lon1, lon2): 
      
    # The math module contains a function named 
    # radians which converts from degrees to radians. 
    lon1 = radians(lon1) 
    lon2 = radians(lon2) 
    lat1 = radians(lat1) 
    lat2 = radians(lat2) 
       
    # Haversine formula  
    dlon = lon2 - lon1  
    dlat = lat2 - lat1 
    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
  
    c = 2 * asin(sqrt(a))  
     
    # Radius of earth in kilometers. Use 3956 for miles 
    r = 6371
       
    # calculate the result 
    return(c * r*1000)

In [4]:
import numpy as np
lat1 = np.array(data['pickup_lat'])
lat2 = np.array(data['dropoff_lat'])
lon1 = np.array(data['pickup_lng'])
lon2 = np.array(data['dropoff_lng'])

direct_dist = []
for j in range(len(lat1)):
  ds = distance(lat1[j],lat2[j],lon1[j],lon2[j])
  direct_dist.append(ds)

In [5]:
data['direct_dist'] = direct_dist

In [6]:
data.head()

   pickup_lat  pickup_lng  dropoff_lat  ...  hour  modified_date   direct_dist
0    36.69359     3.08008     36.74878  ...     0   30T00:32:54Z  13025.020463
1    36.77913     3.24047     36.66214  ...     0   09T00:16:06Z  21203.361733
2    36.74482     2.95584     36.74566  ...     0   26T00:03:14Z   1099.026165
3    36.70221     2.97031     36.69438  ...     0   29T00:09:53Z    905.737263
4    36.76901     3.03099     36.75186  ...     0   21T00:30:32Z   3588.217501

[5 rows x 8 columns]

In [7]:
data.shape

(119659, 8)

In [8]:
hour = np.array(data.hour)

hour_code = []
i = 0
dic = {0:1,1:2,2:3,3:4,4:5,5:6,20:7,21:8,22:9,23:10}
for j in range(len(hour)):
  
  hour_code.append(dic[int(hour[j])])

In [9]:
data['hour_code'] = hour_code
data = data.sample(frac=1)
data.head()

        pickup_lat  pickup_lng  ...   direct_dist  hour_code
50747     36.72969     3.03139  ...   4128.034988          7
104912    36.70219     3.00831  ...  16985.166571          9
78830     36.79994     2.90880  ...    151.704080          8
92832     36.64909     2.92758  ...  17316.729630          9
66126     36.74063     2.87474  ...  21556.686462          8

[5 rows x 9 columns]

In [10]:
from sklearn.preprocessing import MinMaxScaler
prepro_y = MinMaxScaler()
oout = np.array(data.eta).reshape(-1,1)
prepro_y.fit(oout)
oout = prepro_y.transform(oout)

In [11]:
def replace(group):
    mean, std = group.mean(), group.std()
    outliers = (group - mean).abs() > 3*std
    group[outliers] = mean        # or "group[~outliers].mean()"
    return group
t = ['pickup_lat', 'pickup_lng', 'dropoff_lat', 'dropoff_lng','direct_dist']
for j in t:
  data.groupby(j).transform(replace)
data

        pickup_lat  pickup_lng  ...   direct_dist  hour_code
50747     36.72969     3.03139  ...   4128.034988          7
104912    36.70219     3.00831  ...  16985.166571          9
78830     36.79994     2.90880  ...    151.704080          8
92832     36.64909     2.92758  ...  17316.729630          9
66126     36.74063     2.87474  ...  21556.686462          8
...            ...         ...  ...           ...        ...
48844     36.75225     2.99449  ...   3643.297931          7
85407     36.69177     3.07179  ...  17667.515834          8
68055     36.76407     3.04875  ...   6242.991123          8
112803    36.73740     2.99408  ...   4987.782936         10
28834     36.66393     3.15113  ...  11292.353474          6

[119659 rows x 9 columns]

In [12]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

In [13]:
#data[['pickup_lat','pickup_lng',	'dropoff_lat',	'dropoff_lng','hour']] = scaler.fit_transform(data[['pickup_lat','pickup_lng',	'dropoff_lat',	'dropoff_lng','hour']])
scaler.fit(data[['pickup_lat','pickup_lng',	'dropoff_lat',	'dropoff_lng','hour']])
data[['pickup_lat','pickup_lng',	'dropoff_lat',	'dropoff_lng','hour']] = scaler.transform(data[['pickup_lat','pickup_lng',	'dropoff_lat',	'dropoff_lng','hour']])

In [14]:
data

        pickup_lat  pickup_lng  ...   direct_dist  hour_code
50747     0.612362    0.392642  ...   4128.034988          7
104912    0.493082    0.352476  ...  16985.166571          9
78830     0.917068    0.179301  ...    151.704080          8
92832     0.262763    0.211984  ...  17316.729630          9
66126     0.659813    0.120027  ...  21556.686462          8
...            ...         ...  ...           ...        ...
48844     0.710215    0.328426  ...   3643.297931          7
85407     0.447885    0.462949  ...  17667.515834          8
68055     0.761483    0.422853  ...   6242.991123          8
112803    0.645804    0.327712  ...   4987.782936         10
28834     0.327131    0.601023  ...  11292.353474          6

[119659 rows x 9 columns]

In [15]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(np.array(data['direct_dist']).reshape(-1, 1))
data['direct_dist'] = scaler.transform(np.array(data['direct_dist']).reshape(-1, 1))

In [ ]:
scaler.data_max_

AttributeError: ignored

In [38]:
data.corr()

             pickup_lat  pickup_lng  ...  direct_dist  hour_code
pickup_lat     1.000000   -0.168752  ...    -0.078405   0.005119
pickup_lng    -0.168752    1.000000  ...     0.072384   0.012723
dropoff_lat    0.173195   -0.054072  ...    -0.148583  -0.015223
dropoff_lng   -0.052440    0.311147  ...     0.119848   0.000727
eta           -0.053931    0.031324  ...     0.846200  -0.004068
hour           0.007353    0.012846  ...    -0.018953   0.909954
direct_dist   -0.078405    0.072384  ...     1.000000  -0.006047
hour_code      0.005119    0.012723  ...    -0.006047   1.000000

[8 rows x 8 columns]

In [39]:
oout

array([[0.22703838],
       [0.45044873],
       [0.15065877],
       ...,
       [0.22016422],
       [0.11514226],
       [0.18999427]])

In [24]:
X = data[['pickup_lat','pickup_lng',	'dropoff_lat',	'dropoff_lng','hour']]
y = oout

X_train ,X_test , y_train ,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [21]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(n_estimators = 1400, random_state = 42)

In [71]:
model.fit(X_train,y_train)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=1000, n_jobs=None, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

In [73]:
from sklearn import metrics
import numpy as np

y_test_true = np.array(y_test).reshape(-1,1)
prd = np.array(model.predict(X_test)).reshape(-1,1)
np.sqrt(metrics.mean_squared_error(prepro_y.inverse_transform(y_test_true),prepro_y.inverse_transform( prd)))

144.22897214794668

In [22]:
from sklearn import pipeline 
from sklearn.compose import ColumnTransformer
from sklearn import cluster
preprocessor = ColumnTransformer(
        transformers=[
            ('Coordninates-depart', cluster.KMeans(n_clusters=100),['pickup_lat','pickup_lng']),
              ('Coordninates-arrive', cluster.KMeans(n_clusters=100),[
                                                           'dropoff_lat',	'dropoff_lng']),
            
        
])
    # create model
pipeline = pipeline.Pipeline(steps=[
                          ('preprocessor', preprocessor),
    
                          ('Regression', RandomForestRegressor())])

In [26]:
pipeline.fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/pipeline.py:354: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params)

NameError: ignored

In [29]:
from sklearn import metrics
y_test_true = np.array(y_test).reshape(-1,1)
prd = np.array(pipeline.predict(X_test)).reshape(-1,1)
np.sqrt(metrics.mean_squared_error(prepro_y.inverse_transform(y_test_true),prepro_y.inverse_transform( prd)))

150.72330197168785

In [30]:
param_grid = {'bootstrap': [True, False],
 'max_depth': [ 30, 40, 60, 70, 90, 100, None],
 'max_features': ['auto', 'sqrt'],
 'min_samples_leaf': [1, 2, 4],
 'min_samples_split': [2, 5, 10],
 'n_estimators': [100, 200,300]}

In [31]:
xx = X_train[:20000]
yy = y_train[:20000]

In [33]:
from sklearn.model_selection import RandomizedSearchCV
rf = RandomForestRegressor()
rf_random = RandomizedSearchCV(estimator = rf, param_distributions = param_grid, n_iter = 100, cv = 3, verbose=2, random_state=42, n_jobs = -1)
# Fit the random search model
rf_random.fit(xx, yy)

Fitting 3 folds for each of 100 candidates, totalling 300 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  37 tasks      | elapsed:  3.5min
/usr/local/lib/python3.6/dist-packages/joblib/externals/loky/process_executor.py:691: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning
[Parallel(n_jobs=-1)]: Done 158 tasks      | elapsed: 20.1min
[Parallel(n_jobs=-1)]: Done 300 out of 300 | elapsed: 37.6min finished
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_search.py:739: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

RandomizedSearchCV(cv=3, error_score=nan,
                   estimator=RandomForestRegressor(bootstrap=True,
                                                   ccp_alpha=0.0,
                                                   criterion='mse',
                                                   max_depth=None,
                                                   max_features='auto',
                                                   max_leaf_nodes=None,
                                                   max_samples=None,
                                                   min_impurity_decrease=0.0,
                                                   min_impurity_split=None,
                                                   min_samples_leaf=1,
                                                   min_samples_split=2,
                                                   min_weight_fraction_leaf=0.0,
                                                   n_estimators=100,
                                                   n_jobs=None, oob_score=Fals...
                                                   warm_start=False),
                   iid='deprecated', n_iter=100, n_jobs=-1,
                   param_distributions={'bootstrap': [True, False],
                                        'max_depth': [30, 40, 60, 70, 90, 100,
                                                      None],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 2, 4],
                                        'min_samples_split': [2, 5, 10],
                                        'n_estimators': [100, 200, 300]},
                   pre_dispatch='2*n_jobs', random_state=42, refit=True,
                   return_train_score=False, scoring=None, verbose=2)

In [34]:
rf_random.best_params_

{'bootstrap': False,
 'max_depth': 100,
 'max_features': 'sqrt',
 'min_samples_leaf': 1,
 'min_samples_split': 5,
 'n_estimators': 300}

In [43]:
mod = RandomForestRegressor(bootstrap= False,
 max_depth= 100,
 max_features='sqrt',
 min_samples_leaf= 1,
 min_samples_split= 5,
 n_estimators= 1000)

In [ ]:
mod.fit(X_train,y_train)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

In [ ]:
y_test_true = np.array(y_test).reshape(-1,1)
prd = np.array(pipeline.predict(X_test)).reshape(-1,1)
np.sqrt(metrics.mean_squared_error(prepro_y.inverse_transform(y_test_true),prepro_y.inverse_transform( prd)))